<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" 
	id="WebApp_ID" version="4.0">
	
  <display-name>HttpServletScopeAlgoKelvin</display-name>
  
  <welcome-file-list>
    <welcome-file>web-scope</welcome-file>
  </welcome-file-list>
  
  <context-param>
  	<param-name>dp-ip</param-name>
  	<param-value>127.0.0.1</param-value>
  </context-param>
  <context-param>
  	<param-name>dp-port</param-name>
  	<param-value>3306</param-value>
  </context-param>
  
  <servlet>
  	<display-name>ContextParam Page</display-name>
	<servlet-name>ContextParamTraining</servlet-name>
	<servlet-class>com.algokelvin.webscope.ContextParamTraining</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ContextParamTraining</servlet-name>
  	<url-pattern>/web-scope</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<display-name>ContextSQLDatabase Page</display-name>
	<servlet-name>ContextSQLDatabaseTraining</servlet-name>
	<servlet-class>com.algokelvin.webscope.ContextSQLDatabaseTraining</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ContextSQLDatabaseTraining</servlet-name>
  	<url-pattern>/web-scope-db</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<display-name>ContextParamSQL Page</display-name>
	<servlet-name>ContextParamSQL</servlet-name>
	<servlet-class>com.algokelvin.webscope.ContextParamSQL</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ContextParamSQL</servlet-name>
  	<url-pattern>/web-scope-db2</url-pattern>
  </servlet-mapping>
  
</web-app>